/* General Styles */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--primarycolor);
  line-height: 30px;
  text-align: center;
  background: var(--thirdcolor);
}

strong {
  font-weight: 600;
}

a, a:hover, a:focus {
  color: var(--primarycolor);
  text-decoration: none;
}

h1, h2 {
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 38px;
  font-weight: 800;
  color: var(--primarycolor);
  line-height: 50px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: var(--primarycolor);
  line-height: 30px;
}

img {
  max-width: 100%;
}

.medium-paragraph {
  font-size: 17px;
  line-height: 32px;
}

.colored-text {
  color: var(--primarycolor);
}

::selection, ::-moz-selection {
  background: var(--primarycolor);
  color: #fff;
  text-shadow: none;
}

/* Container Styles */
.container {
  padding: 0 75px;
}

.section-container {
  margin: 0 auto;
  padding-bottom: 80px;
  border-bottom: 3px solid var(--primarycolor);
}

.section-container-gray-bg {
  background: #f8f8f8;
}

.section-container-image-bg, .section-container-image-bg h2, .section-container-image-bg h3 {
  color: var(--primarycolor);
}

.section-container-image-bg .divider-1 span {
  border-color: var(--primarycolor);
}

.section-description {
  margin-top: 60px;
  padding-bottom: 10px;
}

.section-description p {
  margin-top: 20px;
  padding: 0 120px;
}

.section-bottom-button {
  padding-top: 60px;
}

/* Button Styles */
.btn-link-1, .btn-link-2, .btn-link-3 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 0 28px;
  font-size: 15px;
  font-weight: 600;
  line-height: 48px;
  border-radius: 4px;
  transition: all .3s;
}

.btn-link-1 {
  display: inline-block;
  height: 50px;
  margin: 0 5px;
  padding: 0 28px;
  background-color: var(--secondarycolor);
  border: 0;
  font-size: 15px;
  font-weight: 600;
  line-height: 48px;
  color: var(--primarycolor);
  border-radius: 4px;
  transition: all .3s;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active, .btn-link-1:active:focus,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active,
.btn-link-1.btn-primary:not(:disabled):not(.disabled):active:focus {
  background: #fff;
  outline: 0;
  color: #1D3557;
  box-shadow: none;
}

.btn-link-2 {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active {
  background: rgba(0, 0, 0, 0.4);
  outline: 0;
  box-shadow: none;
}

.btn-link-3 {
  background: none;
  border-bottom: 2px solid var(--primarycolor);
  color: var(--primarycolor);
  border-radius: 0;
}

.btn-link-3:hover, .btn-link-3:focus, .btn-link-3:active {
  padding: 0 10px;
  outline: 0;
  box-shadow: none;
}

/* Divider */
.divider-1 span {
  display: inline-block;
  width: 150px;
  border-bottom: 1px dashed var(--primarycolor);
}

/* Navbar Styles */
.navbar {
  background: #fff;
  transition: all .6s;
  font-weight: bolder;
}

.navbar.navbar-no-bg {
  background: var(--secondarycolor);
  border-bottom: 3px solid var(--primarycolor);
}

.navbar-dark .navbar-nav {
  font-size: 16px;
  color: var(--primarycolor);
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--primarycolor);
  border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding: 0 1rem;
}

.navbar-dark .navbar-brand {
  width: 136px;
  height: 39px;
  color: var(--primarycolor);
  text-align: left;
}

.navbar-toggler-icon {
  color: var(--primarycolor);
}

/* About Us */
.about-us-box {
  margin-top: 150px;
}

.about-us-box-text {
  padding-right: 30px;
  text-align: left;
}

.about-us-box-text h3 {
  margin-top: 0;
}

.about-us-box-text .medium-paragraph {
  margin: 20px 0;
}

.about-us-box-text a {
  border-bottom: 1px dashed var(--primarycolor);
}

.about-us-box-text a:hover, .about-us-box-text a:focus {
  border: 0;
}

.about-us-box-img img {
  border-radius: 4px;
}

/* Call to Action */
.call-to-action-container .section-bottom-button {
  padding-top: 30px;
}

/* Services */
.services-box {
  padding-top: 30px;
  text-align: left;
}

.services-box .services-box-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  font-size: 40px;
  color: var(--secondarycolor);
  line-height: 80px;
  text-align: center;
  border-radius: 28px;
  background: var(--primarycolor);
  background: linear-gradient(to bottom, var(--primarycolor) 0%, var(--primarycolor) 100%);
}

.services-box h3 {
  margin-top: 0;
  padding-bottom: 10px;
}

/* Portfolio */
.portfolio-box {
  padding-top: 30px;
  text-align: left;
}

.portfolio-box-image {
  overflow: hidden;
  border-radius: 4px;
}

.portfolio-box-image img {
  transition: all .8s;
}

.portfolio-box-image:hover img {
  transform: scale(1.05);
}

.portfolio-box h3 {
  margin-top: 30px;
}

.portfolio-box h3 a {
  color: #555;
}

.portfolio-box h3 a:hover, .portfolio-box h3 a:focus {
  color: var(--primarycolor);
}

.portfolio-box h3 i {
  padding-left: 10px;
  color: #ccc;
  transition: all .3s;
}

.portfolio-box h3:hover i {
  padding-left: 15px;
}

.portfolio-box-date {
  padding-bottom: 10px;
  font-size: 14px;
  color: #aaa;
  text-transform: uppercase;
}

.portfolio-box-date i {
  padding-right: 5px;
  color: #ddd;
}

.portfolio-container .section-bottom-button {
  padding-top: 40px;
}

/* Testimonials */
.testimonials-container {
  padding-bottom: 70px;
  border-bottom: 3px solid var(--primarycolor);
}

.testimonial-list {
  margin-top: 30px;
  text-align: center;
}

.testimonial-list .testimonial-text {
  margin-top: 30px;
}

.testimonial-list .testimonial-text a {
  border-bottom: 1px dashed var(--primarycolor);
}

.testimonial-list .testimonial-text a:hover, .testimonial-list .testimonial-text a:focus {
  border: 0;
}

.testimonial-list .nav-tabs {
  margin-top: 45px;
  border: 0;
  justify-content: center;
}

.testimonial-list .nav-tabs li {
  margin: 0 10px;
}

.testimonial-list .nav-tabs li a {
  width: 16px;
  height: 16px;
  padding: 0;
  background: none;
  border: 1px solid var(--primarycolor);
  border-radius: 50%;
}

.testimonial-list .nav-tabs li a:hover, .testimonial-list .nav-tabs li a:focus {
  background: var(--primarycolor);
  border: 1px solid var(--primarycolor);
}

.testimonial-list .nav-tabs li a.active, .testimonial-list .nav-tabs li a.active:focus {
  background: var(--primarycolor);
  background: linear-gradient(to bottom, var(--primarycolor) 0%, var(--primarycolor) 100%);
  border: 0;
}

/* Footer */
footer {
  padding-top: 40px;
  background: var(--secondarycolor);
  color: var(--primarycolor);
  text-align: left;
}

.footer-left a {
  color: var(--primarycolor);
  border-bottom: 1px dashed #ddd;
}

.footer-left a:hover, .footer-left a:focus {
  color: #fff;
  border: 0;
}

.footer-right {
  text-align: right;
}

.footer-right a {
  margin: 0 6px;
  font-size: 32px;
  color: var(--primarycolor);
}

.footer-right a:hover, .footer-right a:focus {
  color: #fff;
}

.footer-bottom {
  padding-bottom: 25px;
  text-align: center;
}

.footer-bottom a {
  font-size: 32px;
  /* color: rgba(255, 255, 255, 0.8); */
  color: var(--primarycolor);
  line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus {
  color: #fff;
  /* color: var(--thirdcolor); */
}